<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--<pattern>%-4r [%t] %5p %c{1} - %m - tx.id=%X{transaction.id} tx.owner=%X{transaction.owner}%n</pattern>-->
      <Pattern>timestamp=%d{DATE} level=%p x-correlation-id=%X{xCorrelationId} correlation-id=%X{correlationId} class=%c - message=%m%n</Pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>
</configuration>
